.lps {
    margin-top: 45px
  }

  input {
    border: #F2511A 2px solid;
    border-radius: 4px;;
    margin-top: 12px;
  }
  .navbar {
    background-color: #0F6886;
  }

  .btn btn-success {
    background-color: #F2511A;
    margin-top: 11px;
  }

  body {
    font-family: "ubuntu";
    outline: none;
  }