@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
  font-family: "ubuntu";
  outline: none;
}

  .lps {
    margin-top: 45px
  }

  input {
    border: #F2511A 2px solid;
    border-radius: 4px;;
    margin-top: 12px;
  }
  .navbar navbar-expand-sm bg-dark navbar-dark {
    background-color: #0F6886;
  }